dl,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
    margin: 0;
    padding: 0
}

body {
    font-family: Arial, Microsoft YaHei;
    background: url(imgs/background.png) repeat
}

#gameTop {
    width: 480px;
    margin: 0 auto;
    padding-top: 15px;
    font-size: 40px;
    font-weight: 700;
    overflow: hidden
}

#gameTop .scoreContent {
    float: left
}

#gameTop .helpfulItems {
    list-style: none;
    margin-bottom: 15px;
    float: right
}

#gameTop .itemCell {
    float: left;
    border: 4px solid #000;
    margin-right: 10px;
    padding: 4px
}

#gameTop .itemCell img {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: #ccc
}

#gameTop .itemCell img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

#Panel {
    margin: 0 auto;
    background-color: #003;
    position: relative
}

#Panel .cell,
#Panel .grid {
    width: 110px;
    height: 110px
}

#Panel .grid {
    float: left;
    background-color: #0cf;
    margin-left: 8px;
    margin-top: 8px
}

#Panel .cell {
    position: absolute;
    font-size: 40px;
    text-align: center;
    line-height: 110px
}

#Panel .outGrid {
    display: inline-block;
    width: 110px;
    height: 110px;
    line-height: 110px;
    color: #003;
    font-size: 40px
}

#Panel #current {
    text-align: center;
    position: absolute;
    top: 40px;
    left: 500px;
    border: 2px solid #bbb;
    width: 150px;
    height: 180px
}

#Panel #current p {
    padding: 10px 0
}

#Panel #next {
    text-align: center;
    position: absolute;
    top: 260px;
    left: 500px;
    border: 2px solid #bbb;
    width: 150px;
    height: 180px
}

#Panel #next p {
    padding: 10px 0
}

#gameOver {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: .8
}

#gameOver p {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.8em;
    border-radius: 10px;
    border: 1px solid #edcf72
}

#gameOver .btn {
    color: #fff;
    background-color: #9f8d77;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px
}

[id^=c0] {
    top: 8px
}

[id^=c1] {
    top: 126px
}

[id^=c2] {
    top: 244px
}

[id^=c3] {
    top: 362px
}

[id^=c4] {
    top: 480px
}

[id^=c5] {
    top: 598px
}

.cell[id$="0"] {
    left: 8px
}

.cell[id$="1"] {
    left: 126px
}

.cell[id$="2"] {
    left: 244px
}

.cell[id$="3"] {
    left: 362px
}

.cell[id$="4"] {
    left: 480px
}

.cell[id$="5"] {
    left: 598px
}

.n1 {
    background-color: #02b6c6
}

.n2 {
    background-color: #037293
}

.n3 {
    background-color: #fe3030
}

.n4 {
    background-color: #32f917
}

.n5 {
    background-color: #e9f522
}

.n6 {
    background-color: #f41fdd
}

.n7 {
    background-color: #6f1ff4
}

.n8 {
    background-color: #045d5e
}

.n9 {
    background-color: #0bffac
}

.n10 {
    background-color: #f8a007
}

.n11 {
    background-color: #32f917
}

.n12 {
    background-color: #e9f522
}

.n13 {
    background-color: #f41fdd
}

.n14 {
    background-color: #6f1ff4
}
